
<div class="log-in">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Introduction To Patrol</h2>
    
    </div>
  <div class="panel-body">
<p><strong>Remember:</strong> The four main objectives of a security officer are:</p>
<ul class="list-group">
<li class="list-group-item list-group-item-success"><strong>Protection</strong> of life</li>
<li class="list-group-item list-group-item-info"><strong>Protection</strong> of property and premises</li>
<li class="list-group-item list-group-item-warning"><strong>Prevention</strong> of loss and waste</li>
<li class="list-group-item list-group-item-danger"><strong>Prevention</strong> of and deterring crime</li>
</ul>
<p>These are the 4 P’s - Patrolling is the main way to fulfil these objectives.</p>


<h3>Patrolling Requirements</h3>
<p>Patrolling requirements will be different on each site that you are assigned to. Always follow what is in the assignment instructions and comply with what the Client / security manager’s policies and procedures are.</p>
<p>When starting a shift, what do you need to be aware of?</p>
<p>All of this information can be found in some of the following</p>
<ul>
<li>Assignment instructions</li>
<li>Policy and Procedure documents</li>
<li>Occurrence book</li>
<li>Handover notes</li>
<li>Verbally via the ‘’off-going’’ officer</li>
<li>Control room supervisor</li>
</ul>
</div>
</div>
    </div>