$navbar-default-bg: #191970;
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



body{
background:  #b2b2b2;
  font-family: 'Lora', serif;
  
  font-size: 16px;
}
.navbar-nav{
    color: #000;
    font-weight: bold;
}
.navbar-nav a{
    color: #0000FF;
}

#logo {
float: left;
font-size: 1.7em;
color:  #ffffff;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
text-shadow: black 0.3em 0.3em 0.3em;
}
#logo:hover {
color: #660099;
text-decoration: none;
}
.center {
text-align: center;
}
.jumbotron {
background-image: asset-url('kcl-gif.gif');
-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
   margin-bottom: 0px;
   background-attachment: fixed;
}

.jumbotron h1 {
color: #fff;
text-align: center;
margin-bottom: 30px;
letter-spacing: -1px;
font-weight: bold;
}
.btn-xlarge {
font-size: 1.7em;
background-color: #000;
margin-top: 250px;
text-shadow: black 0.3em 0.3em 0.3em;
}
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
}
footer a:hover {
color: #222;
}
footer small {
float: left;
}
footer ul {
float: right;
list-style: none;
}
footer ul li {
float: left;
margin-left: 15px;
}

.article-actions {
border-top: 1px solid #eaeaea;
padding-top: 5px;
    
}
.description {
margin-top: 0;
    
}

.well{
    background-color: #fff;
}

article-title {
font-weight: bold;
font-size: 1.7em;
background: #191970;
    color: #ffffff;
}
.article-body {
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}
.panel-body{
    font-family: 'Lora', serif;
    font-size: 16px;
}
